.ciliks h1{
  font-size: 20px;
  color: brown;
    
}
#tops{
    background-color:antiquewhite;
    padding: 20px;
    margin-top: 50px;
} 
.ciliks h2{
    font-size: 60px;
    color: black;
    font-weight: 600;
}
.ciliks{
    padding-top: 50px;
}
.cilik{
    padding-top: 50px;
}
.cilik h4{
   font-size: 25px;
 
}
.cilik h3{
   font-size: 30px;
 
}