.one h2{
    padding-top: 400px;
    font-size: 80px;
    text-align: center;
    font-weight: 600;
    color: rgb(216, 10, 10);
    
}
.top h2{
  padding-top: 70px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;

}
.top h3{
  padding-top: 10px;
    font-size: 70px;
    text-align: center;
    font-weight: 600;

}
.one img{
    height: 600px;
    width: 95%;
    border-radius: 10px ;
}

.one img:hover{
    transform: scale(1.06);
    transition: 1.1s; 
}
.two img{
    height: 600px;
    width: 95%;   
    border-radius: 20px ; 
}
.two img:hover{
    transform: scale(1.06);
    transition: 1.1s;     
}
.one button{
    background-color: rgb(57, 57, 188);
    color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    padding: 8px 20px;
    font-size: 25px;
   
}
.one button:hover{
    background-color: antiquewhite;
    color: #090000;
    transform: scale(1.1);
    transition: 1.10s;  
} 

.one h5{
    font-size: 27px;
    margin-top: 20px;font-weight: 600;

}
.two button{
    background-color: rgb(57, 57, 188);
    color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    padding: 8px 20px;
    font-size: 25px;
   
}
.two button:hover{
    background-color: antiquewhite;
    color: #090000;
    transform: scale(1.1);
    transition: 1.10s;  
}
.two h6{
    font-size: 27px;
    margin-top: 20px;font-weight: 600;

}
.fast button{
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: rgb(64, 64, 206);
    color: #fff;
    font-size: 20px;
     margin-top: 30px;
    border-radius: 10px;
}
.fast button:hover{
    background-color: antiquewhite;
    color: #090000;
    transform: scale(1.1);
    transition: 1.10s;  
    
}
.ami{
    margin-left: 20px;
}