.menu a{
    font-weight: 500;
    color: rgb(18, 19, 19);
    font-size: 20px;
}

.navbar-nav {
  position: relative;
}

.navbar-nav a,
.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav a::after,
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  width: 100%; 
  height: 4px;  
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); /* Color of the pseudo-element */
  transform: scaleX(0);  
  transform-origin: left; 
  transition: transform 0.3s ease;  
}

.navbar-nav a:hover::after,
.navbar-nav .nav-link:hover::after {
  transform: scaleX(1);  /* On hover, expand the underline */
}

.navbar-nav{
    column-gap: 30px;
    color: #0b0b0b;
}
.menu a:hover{
color: rgb(14, 13, 13);
}
.tell button{
    padding: 10px 30px;
    border-radius: 50px;
    background-color: beige;
    font-weight: 500;
    }
    .tell button:hover{
        background: linear-gradient(135deg, #0a0aa7, #121212); /* Dark blue gradient */
        background-position: -100%;
        transition: .9s;
            color:#fff;
            border-color: var(--bs-btn-hover-border-color);
        }
        
        .tell button{
            background-color: #4a4c4e;
            color: white;
            border: none;
            padding: 15px 30px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
           
            transition: transform 0.6s ease;
        }
        
        .tell button:hover {
            transform: rotateX(180deg);
        }