.ss{
    background-color: antiquewhite;
    height: 300px;
    width: 100%;
    }
    .ss h1{
        text-align: center;
    }
    #jero{
        padding-top: 100px;
        background-color: bisque;
        margin-top: 40px;
    }
    .one h3{
        font-size: 40px;
    }
    .one h1{
        font-size: 80px;
    }
    .one p{
        font-size: 25px;
    }
    .six h2{
        font-size: 45;
       padding: 30px 20px;
       background-color: rgba(58, 123, 220, 0.008);
     
    }